<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/-qF5T5Ftibwc/Wz7SQulT5uI/AAAAAAAABkU/gyLYxap7gsQD8tXkN5icu1ksNJ1SQOY8QCEwYBhgLKtQDAL1OcqxvyJtY5DYJ5Uuez2CT2nvOFFwAv1x7mVS_s-SDg5caMcfQFCahlVOzIqCaJutTbfc0S2bkgR0DDzpWYaM9DTtKXCeVeyynoDgboLnN70vherxdvOOoRg_pLkRgeSaJYqQArDC9u3qu-d2il_2F7NuVbUNYJXeZS0OVF4JVmOmejC-WJ_-9Vt8pmtE-T2jd9S3_n9DZ0xyD1drFfrnyOV81-5MiEb2wijTL_MRki-_7R0rN5Kx2Np4kccYb3ks6nkXrTVZAJVkcOAZRoyrcei1UL5i3IdFXKJdrzTFPUCKfBVVy2BIqkF9qYqu8nI8rgEEGZWiFBwZRRtWSNO9ASQlELnjfuwqQHGOGwDhx0q5UigXATsZl1XGsDjxfoci5Vw4NkAadj7vcMxnTDon0GMnpBppP-VlrNRPC3T54EGAzIO05RJdVVnC1s4mkXcIYxuUCcSkxE9Skfex7OJ2KIhTjsvYtNmq0npAQQOB1o4Eorn0nFzzeSHLhTRGmJK2wHPQ8jEhghjxTo0AGG-V_WAMgjhJK-iJC6oNAY5bCaN41SWdpcka5-NFoa9dw_bmoSNGXnRLFoZjhO_brlCdjZdfEUToJOMgylD6ODHT5PWE5MKWmzYAG/w140-h140-p/instagram.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    
    <title>CRUD</title>
</head>
<body>
    <header class="cabecera"></header>